/* style for the whole site */
body{

    background: linear-gradient(darkgray, darkgrey) no-repeat fixed !important;
}
/* login page design*/
.login{
    border-radius:20px 20px ;
    margin: auto;
    margin-top: 20% !important;
    background: whitesmoke;
    width: 60%;
    height: 400px;
}
.errorContainer{
    margin-left: 20%;
    margin-top: 10px;
    width: 60%;
    float: left;
}
.error{

}
.loginForm{
    padding-top: 10% !important;
}
.btnConnexion{
    margin-top: 10%;
}

/*Landing page*/
.landing {
    background: white !important;
    height: 600px;

}
.landing button{

}
.btnAll{
    height: 100%;
    background-image: url("../images/paper.jpg");
}
.btnThemes{
    height: 600px !important;
    padding-left: 0px !important;
}
.btnThemes button{
    height: 20%;
    background: darkseagreen;
    opacity: 90%;
}
.btnQuestions{
    height: 150px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: 100px;
}
.btnQuestions button{
    height: 100%;

    opacity: 70%;
}
