<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Connexion{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('/assets/css/material/app.min.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {% if app.user %}
            <header class="border-bottom">
                <div class="row">
                    <div class="logoHeader col-7">logo</div>
                    <div class="logoutButton col-5">
                        <button class="btn btn-dark col-8">Déconnexion !</button>
                    </div>
                </div>
            </header>
        {% endif  %}
        {% block body %}{% endblock %}
        {% if app.user %}
            <footer>
                <div class="row">
                    <div class="textFooter">
                        <p>copyright école technique des métiers de Lausanne</p>
                    </div>
                </div>
            </footer>
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
