{% extends 'base.html.twig' %}
{% block title %}Accueil !{% endblock %}
{% block body %}
    <div class="offset-2 col-8 btnQuestions row ">
        <button class="btn col-6 btn-success border-right border-bottom">Questions</button><br>
        <button class="btn col-6 btn-success border-bottom">Examens</button>
    </div>
git pu
    <div class="landing col-8 offset-2 bg-light">
        <div class="row btnAll">
            <div class="col-5 btnThemes">
                <button class="btn col-12  border-bottom">Branches</button><br>
                <button class="btn col-12  border-bottom">Thèmes</button><br>
                <button class="btn col-12  border-bottom">Chapitres</button><br>
                <button class="btn col-12  border-bottom">Sous-chapitres</button><br>
                <button class="btn col-12 ">Niveaux</button>
            </div>
            <div class="col-7 displayData">

            </div>
        </div>

    </div>

{% endblock %}