<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Modifier question</h4>
        </div>
        <div class="modal-body" id="modal_detail">
            <div class="row">
                <form id="formEditQuestion">
                    <label for="themeIn" class="label-aqua label ">Thème</label>
                    <input type="text" class="form-control-lg col-12" id="themeIn" >
                    <label for="subjectIn" class="label-aqua label ">Sujet</label>
                    <input type="text" class="form-control-lg col-12" id="subjectIn">
                    <label for="chapterIn" class="label-aqua label ">Chapitre</label>
                    <input type="text" class="form-control-lg col-12" id="chapterIn">
                    <label for="subChapterIn" class="label-aqua label ">Sous-chapitre</label>
                    <input type="text" class="form-control-lg col-12" id="subChapterIn">
                    <label for="questionIn" class="label-aqua label ">Question</label>
                    <input type="text" class="form-control-lg col-12" id="questionIn">
                    <label for="answerIn" class="label-aqua label ">Réponse</label>
                    <input type="text" class="form-control-lg col-12" id="answerIn">
                    <label for="pointIn" class="label-aqua label ">Points</label>
                    <input type="text" class="form-control-lg col-12" id="pointIn">
                    <br><br>
                    <button type="submit" href="/" class="btn btn-aqua col-12">Sauvergarder</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>